基本元素:

嵌入页面的公告 {putAnnounce}
<!-- BEGIN RowsAnnounce -->
<div class="notice">
<b>Notice</b><sup>{announceaddtime}</sup>: {announcecontent}
</div>
<br />
<!-- END RowsAnnounce -->
置顶文章 {PutTopBlogs}
<!-- BEGIN RowsTopBlog -->
<div class="post">

<h4 class="post-date">{blogAddtime}</h4>
<h2 class="post-title"><a href="{url_reply}">{blogTitle}</a></h2>
<div class="post-body">
{blogContent}
</div>
<h6 class="post-footer">
Posted by <a href="mailto:{blogEmail}">{blogAuthor}</a> in [{blogSort}]
 {lang97}{viewNum}
 <a href="{url_reply}#comments">{lang73}{blogVisits}</a>
 <a href="{url_reply}#trackbacks">{lang74}{TrackbackNum}</a>
</h6>

</div>
<!-- END RowsTopBlog -->
文章摘要显示时的嵌入模板，重要 {PutBlogs}
<!-- BEGIN RowsBlog -->
<div class="post">

<h4 class="post-date">{blogAddtime}</h4>
<h2 class="post-title"><a href="{url_reply}">{blogTitle}</a></h2>
<div class="post-body">
{blogContent}
</div>
<h6 class="post-footer">
Posted by <a href="mailto:{blogEmail}">{blogAuthor}</a> in [{blogSort}]
 {lang97}{viewNum}
 <a href="{url_reply}#comments">{lang73}{blogVisits}</a>
 <a href="{url_reply}#trackbacks">{lang74}{TrackbackNum}</a>
</h6>

</div>
<!-- END RowsBlog -->
阅读文章显示时的模板，重要！！可以与上面的相同。同用 {PutBlogs}
<!-- BEGIN RowsBlog_show -->
<div class="post">

<h4 class="post-date">{blogAddtime}</h4>
<h2 class="post-title">{blogTitle}</h2>
<div class="post-body">
{blogContent}
</div>
<h6 class="post-footer">
Posted by <a href="mailto:{blogEmail}">{blogAuthor}</a> in [{blogSort}]
 {lang97}{viewNum}
 <a href="#comments">{lang73}{blogVisits}</a>
 <a href="#trackbacks">{lang74}{TrackbackNum}</a>
</h6>

</div>
<!-- END RowsBlog_show -->
日历 {PutCalendar}
<!-- BEGIN RowCalendar -->
<div class="function" id="divCalendar">
<h3>Calendar</h3>
<div>
<p class="y">
{currentYearMonth}
</p>
<p class="y">
<a href="{url_prevmonth}" title="{lang120}">&lt;&lt;</a>
 MONTH 
<a href="{url_nextmonth}" title="{lang121}">&gt;&gt;</a>
</p>
<p class="y">
<a href="{url_prevyear}" title="{lang122}">&lt;&lt;</a>
 YEAR 
<a href="{url_nextyear}" title="{lang123}">&gt;&gt;</a>
</p>
</div>
</div>
<!-- END RowCalendar -->
分类导航 {PutColumn}
<!-- BEGIN RowsColumn -->
<li>
<a href="{url_sort}" title="{description}">{column}</a>
</li>
<!-- END RowsColumn -->
翻页
<!-- BEGIN RowPage -->
<div id="pager">
<a href="#">{lang10}<font color="#FF0000">{curPage}</font>{lang11}</a>
<a href="#">{lang12}<font color="#FF0000">{totalPage}</font>{lang13}</a>
<a href="{url_prevpage}">{lang14}</a>
<a href="{url_nextpage}">{lang15}</a>
<a href="{url_firstpage}">{lang16}</a>
<a href="{url_totalpage}">{lang17}</a>
</div>
<!-- END RowPage -->
用户登陆
<!-- BEGIN RownoLogin -->
<form method="post" action="{exPATH}/index.php">
<fieldset>
{lang126} <input name="user" type="text" maxlength="20" class="input" size="13" /><br />
{lang127} <input name="passwd" type="password" maxlength="20" class="input" size="13" /><br />
<input type="hidden" name="action" value="actlogin" />
<input type="hidden" name="play" value="login" />
<input type="submit" value="{lang128}" class="botton" />
<input type="reset" value="{lang129}" class="botton" />
</fieldset>
</form>
<!-- END RownoLogin -->
用户登陆成功
<!-- BEGIN RowLogin -->
<div class="gong">
<div>
<a href="{exPATH}/?play=exit">{lang125}</a>
</div>
</div>
<!-- END RowLogin -->


侧栏相关:

最新评论列表 {PutComment}
<!-- BEGIN RowsComment -->
<li>
<a href="{url_reply}#comment{comid}">{comment}</a>
</li>
<!-- END RowsComment -->
友情链接列表 {PutLinks}
<!-- BEGIN RowsLinks -->
<li>
<a href="{exPATH}/index.php?play=links&amp;action=GoTo&amp;id={id}&amp;url={url}" title="{description}" target="_blank">{homepage}</a> ({visits})
</li>
<!-- END RowsLinks -->
新文章列表 {Putnewblog}
<!-- BEGIN RowsNewblog -->
<li>
<a href="{url_reply}">{newblogtitle}</a>
</li>
<!-- END RowsNewblog -->
最新引用列表 {PutTrackback}
<!-- BEGIN RowsTrackback -->
<li>
<a href="{url_reply}#trackback{tbid}">{trackback}</a>
</li>
<!-- END RowsTrackback -->



文章阅读相关:

文章关键词显示 上级包装 可以省略 {PutBlogKeywords_f}
<!-- BEGIN RowsKeywords_f -->
{PutBlogKeywords}
<!-- END RowsKeywords_f -->
文章关键词显示 内容 可直接使用 {PutBlogKeywords}
<!-- BEGIN RowsKeywords -->
<ul class="msg">
<li class="msgurl">KeyWords</li>
<li class="msgarticle"><p>{blogKeyword},{sitekeyword}</p></li>
</ul>
<!-- END RowsKeywords -->

评论显示 上级包装 可以省略 {PutBlogComments_f}
<!-- BEGIN RowsReply_f -->
{PutBlogComments}
<!-- END RowsReply_f -->
评论显示 内容 可直接使用 {PutBlogComments}
<!-- BEGIN RowsReply -->
<ul class="msg">
<li class="msgname">
<a name="comment{comid}">{compid}</a>.|<a href="mailto:{reEmail}" title="QQ:{qq}">{reAuthor}</a>
</li>
<li class="msgurl">
<a href="{homepage}">{homepage}</a>
</li>
<li class="msgarticle">{reContent}</li>
<li class="msgtime">{reAddtime}</li>
</ul>
<!-- END RowsReply -->

引用显示 上级包装 可以省略 {PutBlogTrackbacks_f}
<!-- BEGIN RowsTb_f -->
{PutBlogTrackbacks}
<!-- END RowsTb_f -->
引用显示 内容 可直接使用 {PutBlogTrackbacks}
<!-- BEGIN RowsTb -->
<ul class="msg">
<li class="msgname">
<a name="trackback{tbid}">{tbpid}</a>.|<a href="{tburl}">{tbblog_name}</a>
</li>
<li class="msgurl">
<a href="{tburl}">{tbtitle}</a>
</li>
<li class="msgarticle">{tbexcerpt}<a href="{tburl}">[Read More]</a></li>
<li class="msgtime">{tbaddtime}</li>
</ul>
<!-- END RowsTb -->

回复表单 上级包装 可以省略 {PutCommentForm_f}
<!-- BEGIN RowsReplayform_f -->
{PutCommentForm}
<!-- END RowsReplayform_f -->
回复表单 内容 可直接使用 {PutCommentForm}
<!-- BEGIN RowsReplayform -->
<div class="post" id="divCommentPost">
<p class="posttop"><a name="comment">{lang82}:</a></p>
<form name="exEdit" method="post" action="{exPATH}/index.php">
<input type="hidden" name="id" value="{currentID}" />
<input type="hidden" name="do" value="add_replay" />
<input type="hidden" name="play" value="reply" />
<input type="hidden" name="tag" value="true" />
{PutLogincom}
<p>
<label for="txaArticle">Comment:</label>
</p>
<p>
<textarea name="content" cols="58" rows="5" class="text"></textarea>
</p>
<p>
<input type="submit" name="action" value="{lang91}" class="button" />
</p>
</div>
<!-- END RowsReplayform -->

<!-- BEGIN RownoLogincom -->
<p>
<input name="name" type="text" class="text" />
<label for="inpName">Name(*)</label>
</p>
<p>
<input name="password" type="password" class="text" />
<label for="inpName">PassWord</label>
<input type="checkbox" name="register" value="yes" /> {lang87}
</p>
<p>
<input name="email" type="text" class="text" />
<label for="inpEmail">E-mail(*)</label>
</p>
<p>
<input name="homepage" type="text" class="text" /> 
<label for="inpHomePage">HomePage</label>
</p>
<p>
<input name="qq" type="text" class="text" /> 
<label for="inpHomePage">QQ</label>
</p>
<!-- END RownoLogincom -->

<!-- BEGIN RowLogincom -->
<p>
{lang84} <font color="#FF0000">{exBlogUserid}</font> {lang124}
</p>
<!-- END RowLogincom -->


其他相关:

附件
<!-- BEGIN RowsAttach -->
&nbsp;
<!-- END RowsAttach -->

搜索文章列表
<!-- BEGIN RowsKeyword_f -->
<table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
        {PutSearch}
</table>
<!-- END RowsKeyword_f -->
<!-- BEGIN RowsKeyword -->
<li>
&nbsp;- <a href="{exPATH}/index.php?play=search&amp;make=view&amp;id={keyID}&amp;key={keyword}" target="_blank">{keyTitle}</a> {lang97} {visits} 
</li>
<!-- END RowsKeyword -->
友情链接页面列表
<!-- BEGIN Rows2Links_f -->
<table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
        {PutLinks2}
</table>
<!-- END Rows2Links_f -->
<!-- BEGIN Rows2Links -->
  <tr> 
    <td width="25%" height="20">&nbsp;{homepage}</td>
  <td width="30%"><a href="{exPATH}/?play=links&amp;action=GoTo&amp;id={id}&amp;url={url}" title="{description}" target="_blank">{logoURL}</td>
  <td width="45%"><a href="{exPATH}/?play=links&amp;action=GoTo&amp;id={id}&amp;url={url}" title="{description}" target="_blank">{url}</a>&nbsp;&nbsp;[{visits}] </td>
  </tr>
<!-- END Rows2Links -->
友情申请表单
<!-- BEGIN RowsReglink -->
<form method="post" action="{exPATH}/index.php">
  <table width="500" border="0" align="center" cellpadding="0" cellspacing="2">
    <tr> 
    <td>　</td>
  </tr>
  <tr> 
    <td width="20%">&nbsp; {lang101}</td>
    <td width="80%"> <input name="webTitle" type="text" size="40" /> 
      <font color="#FF0000">*</font> </td>
  </tr>
  <tr> 
    <td>&nbsp; {lang102}</td>
    <td><input name="webUrl" type="text" size="40" /> <font color="#FF0000">*</font> 
      {lang89} </td>
  </tr>
  <tr> 
    <td>&nbsp; {lang103}</td>
    <td><input name="webLogo" type="text" size="40" />
      {lang89} </td>
  </tr>
  <tr> 
    <td valign="top">&nbsp; {lang104}</td>
    <td><textarea name="webDescription" cols="60" rows="5"></textarea> 
    </td>
  </tr>
  <tr> 
    <td height="35" colspan="2">
<div align="center"> 
<input type="hidden" name="action" value="actreglink" />
<input type="hidden" name="play" value="regLink" />
        <input type="submit" value="{lang91}" />
      </div></td>
  </tr>
</table>
</form>
<!-- END RowsReglink -->

