<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{langlanguage}" lang="{langlanguage}">
<head>

<title>{currentSort} {title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{langlanguage}" />
<meta content="all" name="robots" />
<meta name="author" content="{Webmastername} {Webmaster}" />
<meta name="Copyright" content="exBlog" />
<meta name="keywords" content="{blogKeyword},{sitekeyword}" />
<meta name="description" content="{sitedescription}" />
<link rel="alternate" type="application/rss+xml" href="{siteUrl}/rss2.php" title="{title}" />
<link rel="alternate" type="application/rss+xml" href="{siteUrl}/atom.php" title="{title}" />
<link rel="icon" href="{exPATH}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{exPATH}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="{templatesURL}/style/default.css" type="text/css" media="screen" title="default" />
<link rel="alternate stylesheet" rev="stylesheet" href="{templatesURL}/style/humancondition.css" type="text/css" media="all" title="humancondition" />
<style type="text/css">
#rss	{ TEXT-ALIGN: center; }
#pager	{ TEXT-ALIGN: right; padding: 2px 50px 2px 0px; }
</style>
<script type="text/javascript" src="{templatesURL}/style/styleswitcher.js"></script>
<script type="text/javascript" src="{exPATH}/include/ex1.js"></script>
</head>
<body class="single">

<div id="divAll">
	<div id="divPage">
	<div id="divMiddle">
		<div id="divTop">
<h1 id="BlogTitle"><a href="{siteUrl}">{title}</a></h1>
<h2 id="BlogSubTitle">Let us exBlog! Go! Go! Go!</h2>
		</div>
		<div id="divNavBar">
<h3>Navigation</h3>
<ul>
  <li><a href="{exPATH}/index.php" title="{lang1}">{lang0}</a></li>
{PutColumn}
  <li><a href="{url_links}" title="{lang7}">{lang6}</a></li>
  <li><a href="{exPATH}/admin/login.php" target="_blank" title="{lang35}">{lang34}</a></li>
</ul>
		</div>
		<div id="divMain">
{PutTopBlogs}
{PutBlogs}
{PutSortBlogs}
{PutBlogKeywords_f}
{PutBlogTrackbacks_f}
{PutBlogComments_f}
{PutCommentForm_f}
{PutLinks2_f}
{PutSearch_f}
{PutRegLink}
{PutPage}
{PutAbout}
		</div>
		<div id="divSidebar">

{PutCalendar}

<div class="function" id="divInformations">
<h3>Informations</h3>
<ul>
<li>{lang26}{blogNum} </li>
<li>{lang27}{reNum} </li>
<li>{lang28}{tbNum} </li>
<li>{lang29}{visNum} </li>
<li>{lang30}{todNum} </li>
<li>{lang31}{userNum} <a href="{exPATH}/index.php?play=user">{lang146}</a> </li>
<li>{lang32}{onlineUserNum} </li>
</ul>
</div>

<div class="function" id="divPigeonhole">
<h3>Pigeonhole</h3>
<ul>
{Putpigeonhole}
</ul>
</div>

<div class="function" id="divComments">
<h3>Comments</h3>
<ul>
{PutComment}
</ul>
</div>

<div class="function" id="divPrevious">
<h3>Previous</h3>
<ul>
{Putnewblog}
</ul>
</div>

<div class="function" id="divTrackbacks">
<h3>Trackbacks</h3>
<ul>
{PutTrackback}
</ul>
</div>

<div class="function" id="divrss">
<h3>Others</h3>
<ul>
<div id="rss">
<a href="{exPATH}/rss.php" target="_blank"><img src="{templatesURL}/images/rss10.png" alt="{lang43}" border="0" /></a>
<a href="{exPATH}/rss2.php" target="_blank"><img src="{templatesURL}/images/rss20.png" alt="{lang44}" border="0" /></a><br />
<a href="{exPATH}/atom.php" target="_blank"><img src="{templatesURL}/images/atom03.png" alt="{lang45}" border="0" /></a>
<img src="{templatesURL}/images/gb2312.gif" alt="{lang50}GB2312" border="0" /><br />
</div>
</ul>
</div>

<div class="function" id="divTemplates">
<h3>Templates</h3>
<ul>
<li><a href="javascript:setActiveStyleSheet('default');">default</a></li>
<li><a href="javascript:setActiveStyleSheet('humancondition');">humancondition</a></li>
</ul>
</div>

		</div>
		<div id="divBottom">
<h3 id="BlogPowerBy">Power by <a href="http://www.exBlog.net/" title="exSoft Team exBlog">exBlog</a> Template: <a href="http://www.rainbowsoft.org/zblog/" title="RainbowSoft Studio Z-Blog">Z-Blog</a></h3>
<h2 id="BlogCopyRight">{copyright}</h2>
		</div>
	</div>
	</div>
</div>
</body>
</html>