基本元素:

嵌入页面的公告 {putAnnounce}
<!-- BEGIN RowsAnnounce -->
<div class="notice">
<b>Notice</b><sup>{announceaddtime}</sup>: {announcecontent}
</div>
<br />
<!-- END RowsAnnounce -->
置顶文章 {PutTopBlogs}
<!-- BEGIN RowsTopBlog -->
<div class="news">

<h3 class="title">
{isTop}<a href="{url_reply}">{blogTitle}</a>
</h3>

<dl>
<dd>
<small class="pubDate">
<i>Publish date: </i>{blogAddtime}</small>
<small class="creator">
<i><img src="{blogWeather}" alt="Weather" /> Posted by </i>
<a href="mailto:{blogEmail}">{blogAuthor}</a>
</small>
<div class="summary">
{blogContent}
</div>
<div class="detail">
<a href="{url_reply}">{lang108}</a>
</div>
<small class="related">
<a class="permaLink" href="{url_reply}" target="_blank">Continue reading...</a>
<span class="bloginfo">{lang72} [{blogSort}]</span>
<span class="clickicon">{lang97}{viewNum}</span>
<span class="replyicon">{lang73}{blogVisits}</span>
<span class="tbicon">{lang74}{TrackbackNum}</span>
<a class="search" href="http://www.google.com/search?q={blogTitle}&ie={langcharset}&oe={langcharset}" target="_blank">Search in Google</a>
</small>
</dd>
</dl>

</div>
<!-- END RowsTopBlog -->
文章摘要显示时的嵌入模板，重要 {PutBlogs}
<!-- BEGIN RowsBlog -->
<div class="news">

<h3 class="title">
<a href="{url_reply}">{blogTitle}</a>
</h3>

<dl>
<dd>
<small class="pubDate">
<i>Publish date: </i>{blogAddtime}</small>
<small class="creator">
<i><img src="{blogWeather}" alt="Weather" /> Posted by </i>
<a href="mailto:{blogEmail}">{blogAuthor}</a>
</small>
<div class="summary">
{blogContent}
</div>
<div class="detail">
<a href="{url_reply}">{lang108}</a>
</div>
<small class="related">
<img src="{blogWeather}" alt="Weather" /> 
<a class="permaLink" href="{url_reply}" target="_blank">Continue reading...</a>
<span class="bloginfo">{lang72} [{blogSort}]</span>
<span class="clickicon">{lang97}{viewNum}</span>
<span class="replyicon">{lang73}{blogVisits}</span>
<span class="tbicon">{lang74}{TrackbackNum}</span>
<a class="search" href="http://www.google.com/search?q={blogTitle}&ie={langcharset}&oe={langcharset}" target="_blank">Search in Google</a>
</small>
</dd>
</dl>

</div>
<!-- END RowsBlog -->
阅读文章显示时的模板，重要！！可以与上面的相同。同用 {PutBlogs}
<!-- BEGIN RowsBlog_show -->
<div class="news">

<h3 class="title">
{blogTitle}
</h3>

<dl>
<dd>
<small class="pubDate">
<i>Publish date: </i>{blogAddtime}</small>
<small class="creator">
<i><img src="{blogWeather}" alt="Weather" /> Posted by </i>
<a href="mailto:{blogEmail}">{blogAuthor}</a>
</small>
<div class="summary">
{blogContent}
</div>
<small class="related">
<img src="{blogWeather}" alt="Weather" /> 
<span class="bloginfo">{lang72} [{blogSort}]</span>
<span class="clickicon">{lang97}{viewNum}</span>
<span class="replyicon">{lang73}{blogVisits}</span>
<span class="tbicon">{lang74}{TrackbackNum}</span>
<a class="search" href="http://www.google.com/search?q={blogTitle}&ie={langcharset}&oe={langcharset}" target="_blank">Search in Google</a>
</small>
</dd>
</dl>

</div>
<!-- END RowsBlog_show -->
日历 {PutCalendar}
<!-- BEGIN RowCalendar -->
<table border="0" cellpadding="0" cellspacing="1" width="90%">
  <tr>
    <td width="748" colspan="35" id="caltitle" bgcolor="#ffffff">
    
    {currentYearMonth} 
    <a href="{url_prevmonth}" title="{lang120}">&lt;&lt;</a>
 MONTH 
<a href="{url_nextmonth}" title="{lang121}">&gt;&gt;</a>
    <a href="{url_prevyear}" title="{lang122}">&lt;&lt;</a>
 YEAR 
<a href="{url_nextyear}" title="{lang123}">&gt;&gt;</a>
    
    </td>
  </tr>
  <tr>

{today}

  </tr>
</table>
<!-- END RowCalendar -->
分类导航 {PutColumn}
<!-- BEGIN RowsColumn -->
<a href="{url_sort}" title="{description}">{column} <span style="color: #CC3366" title="{lang109}
{siteUrl}/rss2.php?sort={sortName}">RSS</span> <span title="{lang110} {colblogNum} {lang111}">[{colblogNum}]</span></a>
<!-- END RowsColumn -->
翻页
<!-- BEGIN RowPage -->
<p id="pager">
<small>
<a href="#">{lang10}<font color="#FF0000">{curPage}</font>{lang11}</a>
<a href="#">{lang12}<font color="#FF0000">{totalPage}</font>{lang13}</a>
<a href="{url_prevpage}">{lang14}</a>
<a href="{url_nextpage}">{lang15}</a>
<a href="{url_firstpage}">{lang16}</a>
<a href="{url_totalpage}">{lang17}</a>
</small>
</p>
<!-- END RowPage -->
用户登陆
<!-- BEGIN RownoLogin -->
<form method="post" action="{exPATH}/index.php">
<fieldset>
{lang126} <input name="user" type="text" maxlength="20" class="input" size="13" /><br />
{lang127} <input name="passwd" type="password" maxlength="20" class="input" size="13" /><br />
<input type="hidden" name="action" value="actlogin" />
<input type="hidden" name="play" value="login" />
<input type="submit" value="{lang128}" class="botton" />
<input type="reset" value="{lang129}" class="botton" />
</fieldset>
</form>
<!-- END RownoLogin -->
用户登陆成功
<!-- BEGIN RowLogin -->
<div class="gong">
<div>
<a href="{exPATH}/?play=exit">{lang125}</a>
</div>
</div>
<!-- END RowLogin -->


侧栏相关:

最新评论列表 {PutComment}
<!-- BEGIN RowsComment -->
<li>
:.<a href="{url_reply}">{comment}</a>
</li>
<!-- END RowsComment -->
友情链接列表 {PutLinks}
<!-- BEGIN RowsLinks -->
<li>
<a href="{exPATH}/index.php?play=links&amp;action=GoTo&amp;id={id}&amp;url={url}" title="{description}" target="_blank">{homepage}</a> ({visits})
</li>
<!-- END RowsLinks -->
新文章列表 {Putnewblog}
<!-- BEGIN RowsNewblog -->
<li>
:.<a href="{url_reply}">{newblogtitle}</a>
</li>
<!-- END RowsNewblog -->
最新引用列表 {PutTrackback}
<!-- BEGIN RowsTrackback -->
<li>
:.<a href="{url_reply}">{trackback}</a>
</li>
<!-- END RowsTrackback -->



文章阅读相关:

文章关键词显示 上级包装 可以省略 {PutBlogKeywords_f}
<!-- BEGIN RowsKeywords_f -->
<div class="keywordcss">
<img src="{templatesURL}/images/pl.gif" alt="{lang76}"/> <strong>{lang75}</strong> <a href="{siteUrl}/{url_reply}">{siteUrl}/{url_reply}</a>
<br />
<img src="{templatesURL}/images/tb.gif" alt="{lang78}"/> <strong>{lang77}</strong> <a href="{siteUrl}/extb.php?id={blogID}">{siteUrl}/extb.php?id={blogID}</a>
</div>

<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
<rdf:Description
    rdf:about="{siteUrl}/{url_reply}"
    dc:identifier="{siteUrl}/{url_reply}"
    dc:title="{blogTitle}"
    trackback:ping="{siteUrl}/extb.php?id={blogID}" />
</rdf:RDF>
-->

{PutBlogKeywords}
<!-- END RowsKeywords_f -->
文章关键词显示 内容 可直接使用 {PutBlogKeywords}
<!-- BEGIN RowsKeywords -->
<!-- Blog关键词 -->
<h4>{lang79}</h4>
<div class="keywordcss">{blogKeyword},{sitekeyword}</div>
<!-- END RowsKeywords -->

评论显示 上级包装 可以省略 {PutBlogComments_f}
<!-- BEGIN RowsReply_f -->
<h4>{lang81} [{blogVisits}] :</h4>
<ul class="comments">
{PutBlogComments}
</ul>
<!-- END RowsReply_f -->
评论显示 内容 可直接使用 {PutBlogComments}
<!-- BEGIN RowsReply -->
  <li>
  <div class="postedby">
[=] {lang112} <a href="mailto:{reEmail}">{reAuthor}</a>
  </div>
  <p class="replycerpt">
{reContent}
  </p>
  <div class="replycon">
{reAddtime}
 <a href="{homepage}"><img src="{templatesURL}/images/homepage.gif" alt="Your HomePage" /></a>
 <a href="http://search.tencent.com/cgi-bin/friend/user_show_info?ln={qq}" target="_blank"><img src="{templatesURL}/images/QQ.gif" alt="Your QQ" /></a>
  </div>
  </li>
<!-- END RowsReply -->

引用显示 上级包装 可以省略 {PutBlogTrackbacks_f}
<!-- BEGIN RowsTb_f -->
<h4>{lang80} [{TrackbackNum}] :</h4>
<ul class="comments">

{PutBlogTrackbacks}

</ul>
<!-- END RowsTb_f -->
引用显示 内容 可直接使用 {PutBlogTrackbacks}
<!-- BEGIN RowsTb -->
  <li>
  <div class="postedby">
[=] {tbtitle}
  </div>
  <p class="replycerpt">
{tbexcerpt}
  </p>
  <div class="replycon">
{tbaddtime}
 <a href="{tburl}"><img src="{templatesURL}/images/homepage.gif" alt="{tbblog_name}" /></a>
  </div>
  </li>
<!-- END RowsTb -->

回复表单 上级包装 可以省略 {PutCommentForm_f}
<!-- BEGIN RowsReplayform_f -->
<h4>{lang82}:</h4>
{PutCommentForm}
<!-- END RowsReplayform_f -->
回复表单 内容 可直接使用 {PutCommentForm}
<!-- BEGIN RowsReplayform -->
<form name="exEdit" method="post" action="{exPATH}/index.php">

<fieldset> 
<legend>{lang82}</legend>
<input type="hidden" name="id" value="{currentID}" />
<a href="{templatesURL}/helper/exUbbHelp.htm" target="_blank">{lang83}</a><br />

{PutLogincom}
 
<a href="{templatesURL}/editor/panel1.htm" target="bjgjl" title="[UBB Code]">[UBB Code]</a> <a href="{templatesURL}/editor/panel2.htm" target="bjgjl" title="[Font]">[Font]</a><br />

<iframe scrolling="no" src="{templatesURL}/editor/panel1.htm" name="bjgjl" frameborder="0" width="100%" height="23"></iframe>
<br />
<textarea name="content" cols="58" rows="5" onselect="javascript: storeCaret(this);checklength(document.exEdit);" onclick="javascript: storeCaret(this);checklength(document.exEdit);" onkeyup="javascript: storeCaret(this);checklength(document.exEdit);"></textarea>
<br />
<input type="hidden" name="do" value="add_replay" />
<input type="hidden" name="play" value="reply" />
<input type="hidden" name="tag" value="true" />
<input type="submit" name="action" value="{lang91}" class="botton" />
{lang130} <input type="text" name="conlength" value="0" class="input2" size="6" /> {lang131}

</fieldset>
</form>
<!-- END RowsReplayform -->

<!-- BEGIN RownoLogincom -->
<img src="{templatesURL}/images/nick.gif" alt="Your Name" /> {lang84}
<input name="name" type="text" id="author" size="20" />

<font color="#FF0000">*</font> {lang85} 
<input name="password" type="password" size="15" /> <br />

<img src="{templatesURL}/images/mail.gif" alt="Your E-mail" /> {lang86}
<input name="email" type="text" size="20" />
<input type="checkbox" name="register" value="yes" /> {lang87}<br />

<img src="{templatesURL}/images/homepage.gif" alt="Your HomePage" /> {lang88}
<input name="homepage" type="text" size="30" /> {lang89} <br />

<img src="{templatesURL}/images/QQ.gif" alt="Your QQ" /> {lang90}
<input name="qq" type="text" size="12" /> <br />
<!-- END RownoLogincom -->

<!-- BEGIN RowLogincom -->
<img src="{templatesURL}/images/nick.gif" alt="Your Name" /> {lang84} <font color="#FF0000">{exBlogUserid}</font> {lang124}<br />
<!-- END RowLogincom -->


其他相关:

附件
<!-- BEGIN RowsAttach -->
<table border="0" cellspacing="1" cellpadding="4" width="100%">
  <tr> 
    <td colspan="4" ><div align="center"><b>本贴包含附件 <a href="./?play=GET_ATTACH&amp;id={id}" target="_blank">[按此下载]</a></b></div></td>
  </tr>
  <tr> 
    <td width="14%" bgcolor="#E1E4F2" >&nbsp;文件名:</td>
    <td width="30%" bgcolor="#E1E4F2" >&nbsp;{filename}</td>
    <td width="15%" bgcolor="#E1E4F2">&nbsp;文件类型:</td>
    <td width="41%" bgcolor="#E1E4F2">&nbsp;{filetype}</td>
  </tr>
  <tr> 
    <td bgcolor="#E1E4F2"  >&nbsp;文件大小:</td>
    <td bgcolor="#E1E4F2"  >&nbsp;{filesize}</td>
    <td bgcolor="#E1E4F2"  >&nbsp;人气指数:</td>
    <td bgcolor="#E1E4F2"  >&nbsp;{filehot}</td>
  </tr>
  <tr> 
    <td colspan=4 align=center bgcolor="#E1E4F2">&nbsp;</td>
  </tr>
</table>
<!-- END RowsAttach -->

搜索文章列表
<!-- BEGIN RowsKeyword_f -->
<table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
        {PutSearch}
</table>
<!-- END RowsKeyword_f -->
<!-- BEGIN RowsKeyword -->
<li>
&nbsp;- <a href="{exPATH}/index.php?play=search&amp;make=view&amp;id={keyID}&amp;key={keyword}" target="_blank">{keyTitle}</a> {lang97} {visits} 
</li>
<!-- END RowsKeyword -->
友情链接页面列表
<!-- BEGIN Rows2Links_f -->
<table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
        {PutLinks2}
</table>
<!-- END Rows2Links_f -->
<!-- BEGIN Rows2Links -->
  <tr> 
    <td width="25%" height="20">&nbsp;{homepage}</td>
  <td width="30%"><a href="./?play=links&amp;action=GoTo&amp;id={id}&amp;url={url}" title="{description}" target="_blank">{logoURL}</td>
  <td width="45%"><a href="./?play=links&amp;action=GoTo&amp;id={id}&amp;url={url}" title="{description}" target="_blank">{url}</a>&nbsp;&nbsp;[{visits}] </td>
  </tr>
<!-- END Rows2Links -->
友情申请表单
<!-- BEGIN RowsReglink -->
<form method="post" action="{exPATH}/index.php">
  <table width="500" border="0" align="center" cellpadding="0" cellspacing="2">
    <tr> 
    <td>　</td>
  </tr>
  <tr> 
    <td width="20%">&nbsp; {lang101}</td>
    <td width="80%"> <input name="webTitle" type="text" size="40" /> 
      <font color="#FF0000">*</font> </td>
  </tr>
  <tr> 
    <td>&nbsp; {lang102}</td>
    <td><input name="webUrl" type="text" size="40" /> <font color="#FF0000">*</font> 
      {lang89} </td>
  </tr>
  <tr> 
    <td>&nbsp; {lang103}</td>
    <td><input name="webLogo" type="text" size="40" />
      {lang89} </td>
  </tr>
  <tr> 
    <td valign="top">&nbsp; {lang104}</td>
    <td><textarea name="webDescription" cols="60" rows="5"></textarea> 
    </td>
  </tr>
  <tr> 
    <td height="35" colspan="2">
<div align="center"> 
<input type="hidden" name="action" value="actreglink" />
<input type="hidden" name="play" value="regLink" />
        <input type="submit" value="{lang91}" />
      </div></td>
  </tr>
</table>
</form>
<!-- END RowsReglink -->

