<!-- BEGIN RowReply -->
<table border="0" cellpadding="5" cellspacing="0" width="100%" style="WORD-BREAK: break-all; WORD-WRAP: break-word">
<tr>
    <td bgcolor="#e6e6e6" class="blogcontent">{reContent}</td>
</tr>
<tr>
    <td  align="right" class=smalltxt 
                         onMouseOver="this.style.backgroundColor='#F8F8F8'" 
                      onMouseOut="this.style.backgroundColor='#FFFFFF'">Posted by <a href="mailto:{reEmail}">{reAuthor}</a> 
      at {reAddtime} <a href="{homepage}"> <img src="{templatesURL}/images/homepage.gif" width="15" height="12" border="0" align="absmiddle"></a> 
      <a href="http://search.tencent.com/cgi-bin/friend/user_show_info?ln={qq}" target="_blank"><img src="{templatesURL}/images/QQ.gif" width="15" height="12" border="0" align="absmiddle"></td>
</tr>
<tr>
	<td height="2" bgcolor="#FFFFFF"></td>
</tr>
</table>
<!-- END RowReply -->