<HTML><HEAD>
<title>{currentSort} {title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{langlanguage}" />
<meta name="author" content="{Webmastername} {Webmaster}" />
<meta name="keywords" content="{blogKeyword},{sitekeyword}" />
<meta name="description" content="{sitedescription}" />
<link rel="alternate" type="application/rss+xml" href="{siteUrl}/rss2.php" title="{title}" />
<link rel="alternate" type="application/rss+xml" href="{siteUrl}/atom.php" title="{title}" />
<link rel="icon" href="{exPATH}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{exPATH}/favicon.ico" type="image/x-icon" />
<link href="{templatesURL}/style/styles.css" rel="stylesheet" type="text/css" />
<script language=JavaScript src="{templatesURL}/style/common.js"></script>
<script language="JavaScript" type="text/javascript" src="{exPATH}/include/ex1.js"></script>
</HEAD>
<BODY leftMargin=0 topMargin=0 rightMargin=0 dir="{langdir}">
<TABLE width="750" border=0 align="center" cellPadding=0 cellSpacing=0 
background="{templatesURL}/images/top_bg.gif">
  <TBODY>
    <TR>
      <TD align=center width=147>
      <A hideFocus href="{exPATH}/"><IMG alt="logo" src="{templatesURL}/images/logo.gif" border=0></A> </TD>
      <TD align=right>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
            <TR align=right>
              <TD height="38">　 
<SPAN class=bold><A hideFocus href="{exPATH}/help.htm" title="{lang7}" target="content">{lang8}</A></SPAN> | 
<SPAN class=bold><A hideFocus href="{exPATH}/admin/login.php" title="{lang35}">{lang34}</A></SPAN>&nbsp;&nbsp;　</TD>
            </TR>
            <TR vAlign=center align=right>
              <TD height=27><div align="left">
<SPAN class=bold><a href="{exPATH}/index.php?play" title="{lang1}">{lang0}</a></SPAN> | 
<SPAN class=bold>{PutColumn}</SPAN>
<SPAN class=bold><A hideFocus href="{exPATH}/index.php?play=links" title="{lang7}">{lang6}</A></SPAN></div></TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<table width="750" height="13"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><div align="center">
        <MARQUEE onmouseover=this.stop(); 
                              onmouseout=this.start(); scrollAmount=3>
        {putAnnounce}</MARQUEE>
    </div></td>
  </tr>
</table>
<TABLE class=green2 cellSpacing=0 cellPadding=0 width="750" 
            align=center border=0>
  <TBODY>
    <TR>
      <TD>
        <TABLE cellSpacing=0 cellPadding=4 width="100%" border=0>
          <TBODY>
            <TR class=category>
              <TD width="21%" height=18>&nbsp;</TD>
              <TD>
                <TABLE class=smalltxt 
                        style="TABLE-LAYOUT: fixed; WORD-WRAP: break-word" 
                        cellSpacing=0 cellPadding=0 width="100%" border=0>
                  <TBODY>
                    <TR style="COLOR: #000000">
                      <TD class=bold>　</TD>
                      <TD noWrap align=right width=150>　</TD>
                    </TR>
                  </TBODY>
              </TABLE></TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="750" align=center 
            bgColor=#dbdbdb border=0>
              <TBODY>
              <TR>
<TD height=3></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="750" align=center 
border=0>
  <TBODY>
    <TR>
      <TD bgColor=#dbdbdb>
        <TABLE style="TABLE-LAYOUT: fixed; WORD-WRAP: break-word" 
                  cellSpacing=1 cellPadding=4 width="100%" border=0>
          <TBODY>
            <TR bgColor=#ffffff><A name=pid15412></A>
              <TD vAlign=top width="200">
                  <TABLE cellSpacing=0 cellPadding=5 width="95%" 
                        align=center border=0>
                    <TBODY>
                      <TR>
                        <TD>{PutCalendar}<br>{PutLogin}<br>
                          <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang25}</td>
                            </tr>
                            <tr>
                              <td class="content1"><div align="center"></div>                                
                              <table align="left">
                                <tr> 
                                  <td>{lang26}{blogNum}</td>
                                </tr>
                                <tr> 
                                  <td>{lang27}{reNum}</td>
                                </tr>
                                <tr> 
                                  <td>{lang28}{tbNum}</td>
                                </tr>
                                <tr> 
                                  <td>{lang29}{visNum}</td>
                                </tr>
                                <tr> 
                                  <td>{lang30}{todNum}</td>
                                </tr>
                                <tr>
                                  <td>{lang31}{userNum}</td>
                                </tr>
				<tr>
				  <td>{lang32}{onlineUserNum}</td>
				</tr>
                              </table>
                              </td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1">
                          <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang138}</td>
                            </tr>
                            <tr>
                              <td class="content2"><table>
        {Putpigeonhole}
                              </table></td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1">
                          <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang93}</td>
                            </tr>
                            <tr>
                              <td class="content2"><table>
        {Putnewblog}
                              </table></td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1">
                          <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang39}</td>
                            </tr>
                            <tr>
                              <td class="content2"><table>
        {PutComment}
                              </table></td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1">
                          <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang40}</td>
                            </tr>
                            <tr>
                              <td class="content2"><table>
        {PutTrackback}
                              </table></td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1" height="16">
                          <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang53}</td>
                            </tr>
                            <tr>
                              <td class="content3"><table width="100%">
							  <tr>
							  <td>
      					  {PutLinks}
							</td> 
							</tr>
                              </table>
                              <div align="right"><a href="{exPATH}/index.php?play=regLink">{lang54}</a></div></td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1" height="16">
                          <table width="180" border="0" align="center" cellpadding="2" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang41}</td>
                            </tr>
                            <tr>
                              <td align="center" class="content3">
<a href="{exPATH}/rss.php" target="_blank"><img src="{templatesURL}/images/rss10.png" alt="{lang43}" border="0"></a>
<a href="{exPATH}/rss2.php" target="_blank"><img src="{templatesURL}/images/rss20.png" alt="{lang44}" border="0"></a><br />
<a href="{exPATH}/atom.php" target="_blank"><img src="{templatesURL}/images/atom03.png" alt="{lang45}" border="0"></a>
<a href="javascript:window.external.AddChannel('http://www.madcn.com/madcn.cdf');" target="_blank"><img src="{templatesURL}/images/channel.png" alt="{lang46}" border="0"></a><br />
<a href="{exPATH}/rss2.php?comment=10" target="_blank"><img src="{templatesURL}/images/comment.png" alt="{lang47}" border="0"></a>
<a href="http://www.exBlog.net/" target="_blank"><img src="{templatesURL}/images/icon_power.png" alt="{lang48}" border="0"></a><br />
<a href="http://www.creativecommons.cn/licenses/by-sa/1.0/" target="_blank"><img src="{templatesURL}/images/cc.png" alt="{lang49}" border="0"></a>
<img src="{templatesURL}/images/gb2312.gif" alt="{lang50}GB2312" border="0"><br />
<a href="http://www.php.net/" target="_blank"><img src="{templatesURL}/images/php.png" alt="{lang51}" border="0"></a>
<a href="http://www.mysql.com/" target="_blank"><img src="{templatesURL}/images/mysql.png" alt="{lang52}" border="0"></a><br />
</td>
                            </tr>							
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1" height="16">
<table width="180" border="0" align="center" cellpadding="4" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang36}</td>
                            </tr>
                            <tr>
                              <td class="content4"><form method="post" action="{exPATH}/index.php?play=search">
                                  <div align="center">
                                    <input name="keyword" type="text" class="input" onfocus=this.select() onClick=this.value='' onmouseover=this.focus() value="{lang37}" size="18">
                                    <input name="action2" type="submit" value="{lang38}" class="botton">
                                  </div>
                              </form></td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1">
                          <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
                            <tr>
                              <td height="20" valign="middle" bgcolor="#e6e6e6" class="title1">　{lang20}</td>
                            </tr>
                            <tr>
                              <td class="content2"><table>

{lang59}
{Webmastername}<br />
{lang22}
        <a href="http://search.tencent.com/cgi-bin/friend/user_show_info?ln={WebmasterQQ}" target="_blank">{WebmasterQQ}</a><br />
{lang23}
        <a href="mailto:{Webmasteremail}">{Webmasteremail}</a><br />
{lang24}<br />
        <a href="{siteUrl}" target="_blank">{siteUrl}</a><br />
{Webmasterdescription}

                              </table></td>
                            </tr>
                          </table>
                          <img src="{templatesURL}/images/spacer.gif" width="1" height="16"></TD>
                      </TR>
                    </TBODY>
                  </TABLE>
              <SPAN 
                        class=smalltxt></SPAN></TD>
              <TD height="100%" valign="top" bgcolor="#ffffff">
                <TABLE 
                        style="TABLE-LAYOUT: fixed; WORD-WRAP: break-word" 
                        height="100%" cellSpacing=6 cellPadding=0 width="100%" 
                        border=0>
                    <TBODY>
                      <TR>
                        <TD vAlign=top>
{PutTopBlogs}
{PutBlogs}
{PutSortBlogs}
{PutBlogKeywords_f}
{PutBlogTrackbacks_f}
{PutBlogComments_f}
{PutCommentForm_f}
{PutLinks2_f}
{PutSearch_f}
{PutRegLink}
{PutAbout}

</TD>
                      </TR>
{PutPage}
                    </TBODY>
                </TABLE>
              </TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="750" align=center>
  <TBODY>
    <TR>
      <TD vAlign=top class=multi></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="750" align=center 
      bgColor=#eeeeee border=0>
  <TBODY>
    <TR>
      <TD align=right 
          background="{templatesURL}/images/left_title_03.gif" 
          height=34><SPAN class=mediumtxt><A class=mediumtxt hideFocus 
            href="mailto:support@exblog.net">{lang60}</A> | </SPAN><A href="http://www.exblog.net" target="_blank" class="copy" hideFocus>{lang57}</A>&nbsp;|&nbsp;{lang58} FanFan &nbsp;</TD>
    </TR>
    <TR>
      <TD align=middle height=42>
          <TABLE cellSpacing=0 cellPadding=0 width="98%" border=0>
          <TBODY>
            <TR>
              <TD colspan="2" align=right>&nbsp;</TD>
            </TR>
            <TR> 
              <TD align=right width=380><SPAN style="FONT-SIZE: 11px; COLOR: #000000;">Powered 
                by <a href="http://www.exBlog.net"><img src="{templatesURL}/images/icon_power.png" alt="{lang61}" width="80" height="15" border="0"></a></span></TD>
              <TD align=right><SPAN style="FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial"> 
                {copyright}</SPAN></TD>
            </TR>
          </TBODY>
        </TABLE></TD>
      <A name=#bottom></A></TR>
  </TBODY>
</TABLE>
</BODY></HTML>
