<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="MSSmartTagsPreventParsing" content="TRUE">
<meta http-equiv="MSThemeCompatible" content="Yes">
<title>{artTitle} - 阅读全文</title>
<link href="{templatesURL}/style/styles.css" rel="stylesheet" type="text/css">
<SCRIPT language=JavaScript src="{templatesURL}/style/menu.js"></SCRIPT>
</head>

<body>
<TABLE width="750" border=0 align="center" cellPadding=0 cellSpacing=0 
background="{templatesURL}/images/top_bg.gif">
  <TBODY>
    <TR>
      <TD align=center width=147><A hideFocus 
      href="./"><IMG alt="logo" src="{templatesURL}/images/logo.gif" border=0></A> </TD>
      <TD align=right>
        <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
          <TBODY>
            <TR align=right>
              <TD height="38">　 <SPAN class=bold><A hideFocus 
            href="./help.htm" title="关于exBlog..." target="content">关　　于</A></SPAN> | <SPAN class=bold><A hideFocus 
            href="./admin/login.php" title="guest莫进">管　　理</A></SPAN>&nbsp;&nbsp;　</TD>
            </TR>
            <TR vAlign=center align=right>
              <TD height=27><div align="left"><SPAN class=bold><a href="./index.php?play" title="回到首页">首　　页</a></SPAN> | <SPAN class=bold>{PutColumn}</SPAN><SPAN class=bold><A hideFocus 
            href="./exbook/index.php" title="留下您的宝贵意见，谢谢！" target="content">留 言 本</A></SPAN> | <SPAN class=bold><A hideFocus 
            href="./index.php?play=links" title="全是我的好朋友">友情链接</A></SPAN></div></TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<table width="750" height="13"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><div align="center">
        <MARQUEE onmouseover=this.stop(); 
                              onmouseout=this.start(); scrollAmount=3>
        {putAnnounce}</MARQUEE>
    </div></td>
  </tr>
</table>
<TABLE class=green2 cellSpacing=0 cellPadding=0 width="750" 
            align=center border=0>
  <TBODY>
    <TR>
      <TD>
        <TABLE cellSpacing=0 cellPadding=4 width="100%" border=0>
          <TBODY>
            <TR class=category>
              <TD height=18><font color="#FFFFFF">您的位置：<a href="./index.php?play" class="cn"><font color="#FFFFFF"><b>首　　页</b></font></a> >> <b>{artTitle}</b></span></font></TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="750" align=center 
            bgColor=#dbdbdb border=0>
              <TBODY>
              <TR>
<TD height=3></TD></TR></TBODY></TABLE>
<TABLE width=750 height="60%" border=0 align=center cellPadding=0 cellSpacing=0>
  <TBODY>
    <TR>
      <TD bgColor=#e6e6e6>
        <TABLE cellSpacing=1 cellPadding=4 width="100%" border=0>
          <TBODY>
            <TR class=header>
              <TD><div align="center"><strong>{artTitle}</strong></div></TD>
            </TR>
            <TR>
              <TD align=middle bgColor=#ffffff>
                <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                  <TBODY>
                    <TR>
                      <TD height="200" 
                        align=middle valign="top" class=smalltxt onmouseover="this.style.backgroundColor='#F8F8F8'" 
                      onmouseout="this.style.backgroundColor='#FFFFFF'"><div align="left"><br>
                          {artContent} <BR>
                      </div></TD>
                    </TR>
                  </TBODY>
              </TABLE></TD>
            </TR>
            <TR>
              <TD align=middle bgColor=#ffffff>
                <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                  <TBODY>
                    <TR>
                      <TD class=smalltxt 
                        align=middle ><div align="right">
                        <table border="0" align="right" cellpadding="1" cellspacing="4">
                          <tr>
                            <td><div align="right">作　　者:</div></td>
                            <td><div align="left"><font color="#990000">{author}</font></div></td>
                            <td><div align="right">类　　别:</div></td>
                            <td><div align="left"><font color="#990000">{sort}</font></div></td>
                            <td><div align="right">发布日期:</div></td>
                            <td><div align="left"><font color="#990000">{time}</font></div></td>
                            <td><div align="right">总 浏 览:</div></td>
                            <td><div align="left"><font color="#990000">{visits}</font></div></td>
                          </tr>
                        </table>
                      </div></TD>
                    </TR>
                  </TBODY>
              </TABLE></TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<table width="750" border="0" align="center" cellpadding="0" cellspacing="10">
  <tr>
    <td align="center"><input name="button" type=button class="botton" onclick=window.print() value="打印本文">&nbsp;&nbsp;<input name="button" type=button class="botton" onclick=window.close() value="关闭窗口"></td>
  </tr>
</table>
<TABLE cellSpacing=0 cellPadding=0 width="750" align=center 
      bgColor=#eeeeee border=0>
  <TBODY>
    <TR>
      <TD align=right 
          background="{templatesURL}/images/left_title_03.gif" 
          height=34><SPAN class=mediumtxt><A class=mediumtxt hideFocus 
            href="mailto:exblog@fengling.net">联系我们</A> | 开发团队: </SPAN><SPAN 
            style="FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial"><A href="./help.htm#6" target="_blank" class="copy" 
            hideFocus>exSoft</A></SPAN>&nbsp;|&nbsp;感谢<a href="http://my.i7c.com" target="_blank" class="copy">饭饭</a>提供本界面原型&nbsp;</TD>
    </TR>
    <TR>
      <TD align=middle height=42><SPAN 
            style="FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial"></SPAN>
          <TABLE cellSpacing=0 cellPadding=0 width="98%" border=0>
            <TBODY>
              <TR>
                <TD align=right width=380><SPAN style="FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial">Powered by <a href="http://www.exBlog.net"><img src="{templatesURL}/images/icon_power.png" alt="本网站由 exBlog 构架" width="80" height="15" border="0" align="absmiddle"></a></span></TD>
                <TD align=right><SPAN style="FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial"> {copyright}</SPAN></TD>
              </TR>
            </TBODY>
        </TABLE></TD>
      <A 
        name=#bottom></A></TR>
  </TBODY>
</TABLE>
</body>
</html>
