<html><head>
<link href="{templatesURL}/style/styles.css" rel="stylesheet" type="text/css">
<title>{lang135}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{langlanguage}" />
<meta HTTP-EQUIV="REFRESH" CONTENT="2;URL={return}">
</head>
<body dir="{langdir}">
<div id="msgboard" style="position:absolute; left:200px; top:150px; width:350px; height:100px; z-index:1;">
<table cellspacing="0" cellpadding="5" width="100%" border="0">
<tr>
<td  class="blogtitle" height="20" align="left">{lang136}</td></tr><tr>
<td align="left" class="blogcontent"><font color="red">{msg}</font> 
<p align="left"><a href="{return}">{lang137}</a></p></td></tr>
</table></div>
</body></html>