<html><head>
<link href="{templatesURL}/style/styles.css" rel="stylesheet" type="text/css">
<title>{lang132}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{langlanguage}" />
</head>
<body dir="{langdir}">
<div id="msgboard" style="position:absolute; left:200px; top:150px; width:350px; height:100px; z-index:1;">
<table cellspacing="0" cellpadding="5" width="100%" border="0">
<tr>
<td  class="blogtitle" height="20" align="left">{lang133}</td></tr><tr>
<td align="left" class="blogcontent"><font color="red"><br>{msg}</font>
<p align="left"><a href="javascript:history.go(-1);">{lang134}</a></p></td></tr>
</table></div>
</body></html>