<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<head>
<title>{currentSort} {title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="{langlanguage}" />
<meta content="all" name="robots" />
<meta name="author" content="{Webmastername} {Webmaster}" />
<meta name="Copyright" content="exBlog" />
<meta name="keywords" content="{blogKeyword},{sitekeyword}" />
<meta name="description" content="{sitedescription}" />
<link rel="alternate" type="application/rss+xml" href="{siteUrl}/rss2.php" title="{title}" />
<link rel="alternate" type="application/rss+xml" href="{siteUrl}/atom.php" title="{title}" />
<link rel="icon" href="{exPATH}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{exPATH}/favicon.ico" type="image/x-icon" />
<link href="{templatesURL}/style/styles.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{templatesURL}/style/styleswitcher.js"></script>
<script type="text/javascript" src="{templatesURL}/style/style.js"></script>
</head>
<body bgcolor="#336699" dir="{langdir}">

<TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
  <TBODY>
    <TR>
      <TD colSpan="2"><IMG height="1" src="{templatesURL}/images/spacer.gif" width="779"></TD>
    </TR>
    <TR>
      <TD>
        <TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
          <TBODY>
            <TR>
              <TD rowSpan=2 valign="top" background="{templatesURL}/images/tab.bg.dln.gif"><img src="{templatesURL}/images/logo_exblog.gif" width="118" height="35"> </TD>
              <TD background="{templatesURL}/images/tab.bg.dln.gif" rowSpan=2></TD>
              <TD rowSpan=2><IMG src="{templatesURL}/images/tab.slide.hm.li.gif" width="109" height="48"></TD>
              <TD height=13 colSpan=12 bgColor=#336699></TD>
            </TR>
            <TR>
              <TD background="{templatesURL}/images/tab.bg.dln.gif"><IMG src="{templatesURL}/images/tab.separator.on.l.gif" width="2" height="35"></TD>
              <TD noWrap="noWrap" background="{templatesURL}/images/tab.bg.on.gif">&nbsp;&nbsp;&nbsp;<a class="E" href="{exPATH}/index.php">{lang0}</a>&nbsp;&nbsp;&nbsp; </TD>
              <TD><IMG src="{templatesURL}/images/tab.separator.off.gif" width="2" height="35"></TD>
              <TD noWrap="noWrap" background="{templatesURL}/images/tab.bg.off.gif">&nbsp;&nbsp;&nbsp;<a class="E" href="#" target="_blank">{lang4}</a>&nbsp;&nbsp;&nbsp; </TD>
              <TD><IMG src="{templatesURL}/images/tab.separator.off.gif" width="2" height="35"></TD>
              <TD noWrap="noWrap" background="{templatesURL}/images/tab.bg.off.gif">&nbsp;&nbsp;&nbsp;<a class="E" href="{url_links}">{lang6}</a>&nbsp;&nbsp;&nbsp; </TD>
              <TD><IMG src="{templatesURL}/images/tab.separator.off.gif" width="2" height="35"></TD>
              <TD noWrap="noWrap" background="{templatesURL}/images/tab.bg.off.gif">&nbsp;&nbsp;&nbsp;<a class="E" href="{exPATH}/admin/login.php" target="_blank">{lang34}</a>&nbsp;&nbsp;&nbsp; </TD>
              <TD><IMG src="{templatesURL}/images/tab.separator.end.gif" width="1" height="34"></TD>
              <TD width="100%" background="{templatesURL}/images/tab.bg.sln.gif">&nbsp;</TD>
            </TR>
          </TBODY>
      </TABLE></TD>
      <TD valign="bottom">
        <TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
          <TBODY>
            <TR>
              <TD background="{templatesURL}/images/tab.bg.sln.gif"><IMG height=35 src="{templatesURL}/images/spacer.gif" width=1></TD>
              <TD noWrap="noWrap" align="right" background="{templatesURL}/images/tab.bg.sln.gif">
                <A class="G" href="{exPATH}/helper/help.htm" target="_blank">{lang8}</A>&nbsp;&nbsp;&nbsp; 
              </TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
  <TBODY>
    <TR bgColor="#4791c5">
      <TD colSpan=3><IMG height=1 src="{templatesURL}/images/spacer.gif" width=779></TD>
    </TR>
    <TR bgColor="#4791c5">
      <TD width="80%" style="PADDING-LEFT: 10px; BORDER-BOTTOM: #10659e 1px solid; HEIGHT: 20px">
        <TABLE class="G" cellSpacing="0" cellPadding="0" width="100%" border="0">
          <TBODY>
            <TR>
              <TD vAlign="center" align="left" width="20%">exBlog, Welcome back!</TD>
              <TD vAlign="center" align="left" width="6%"><img src="{templatesURL}/images/announce.gif" width="14" height="13"></TD>
              <TD vAlign="center" align="left" width="74%">
                <marquee behavior="scroll" scrollDelay="80" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
                {putAnnounce}
                </marquee>
              </TD>
            </TR>
          </TBODY>
      </TABLE></TD>
      <TD width="8%" align="right" style="PADDING-LEFT: 10px; BORDER-BOTTOM: #10659e 1px solid; HEIGHT: 20px">
        <TABLE cellSpacing="0" cellPadding="0" border="0">
          <TBODY>
            <TR>
              <TD vAlign="center" align="right"></TD>
            </TR>
          </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE class="N" id="HMTB" cellSpacing="0" cellPadding="0" width="100%" border="0">
  <TBODY>
    <TR>
      <TD colSpan=2><IMG height=1 src="{templatesURL}/images/spacer.gif" width="779"></TD>
    </TR>
    <TR>
      <TD height="16">
	  	<table height="16"  border="0" cellpadding="0" cellspacing="0" class="O">
        <tr>
		  <td width="150" align="center" class="col">Column <img src="{templatesURL}/images/right.gif" width="9" height="9"></td>
          {PutColumn}
		</tr>
      </table></TD>
      <TD height="16" style="CURSOR: auto">
        <img src="{templatesURL}/images/spacer.gif" width="1" height="1"></TD>
    </TR>
    <TR>
      <TD colSpan="2"><IMG height="1" src="{templatesURL}/images/spacer.gif" width="779"></TD>
    </TR>
  </TBODY>
</TABLE>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="AA">
  <tr>
    <td width="200" valign="top" bgcolor="#dbeaf5"><img src="{templatesURL}/images/spacer.gif" width="200" height="10">      
      {PutCalendar}<br><table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
      <tr>
        <td class="title">Information</td>
      </tr>
      <tr>
          <td bgcolor="#DBEAF5" class="content"> <table width="100%">
              <tr> 
                <td>{lang26}{blogNum}</td>
              </tr>
              <tr> 
                <td>{lang27}{reNum}</td>
              </tr>
              <tr> 
                <td>{lang28}{tbNum}</td>
              </tr>
              <tr> 
                <td>{lang29}{visNum}</td>
              </tr>
              <tr> 
                <td>{lang30}{todNum}</td>
              </tr>
              <tr> 
                <td>{lang31}{userNum}</td>
              </tr>
              <tr> 
                <td>{lang32}{onlineUserNum}</td>
              </tr>
            </table></td>
      </tr>
    </table><br><br>
      <table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
        <tr>
          <td class="title"> Login</td>
        </tr>
        <tr>
          <td bgcolor="#DBEAF5" class="content"><table width="100%">{PutLogin}</table></td>
        </tr>
      </table>
      <br>
      <br>
      <table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
        <tr>
          <td class="title"> New Blogs</td>
        </tr>
        <tr>
          <td bgcolor="#DBEAF5" class="content"><table width="100%">{Putnewblog}</table></td>
        </tr>
      </table>
      <br>
      <br>
      <table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
        <tr>
          <td class="title"> New Comments</td>
        </tr>
        <tr>
          <td bgcolor="#DBEAF5" class="content"><table width="100%">{PutComment}</table></td>
        </tr>
      </table>
      <br>
      <br>
      <table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
        <tr>
          <td class="title"> New Trackbacks</td>
        </tr>
        <tr>
          <td bgcolor="#DBEAF5" class="content"><table width="100%">{PutTrackback}</table></td>
        </tr>
      </table>
      <br>
      <br>
      <table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
        <tr>
          <td class="title"> My Links</td>
        </tr>
        <tr>
          <td bgcolor="#DBEAF5" class="content"><table width="100%">{PutLinks}<tr><td align="right"><a href="{exPATH}/index.php?play=regLink">{lang54}</a></td></tr></table></td>
        </tr>
      </table>
      <br>
    <br>
	<form method="post" action="{exPATH}/index.php">
    <table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
        <tr>
          <td class="title"> Search</td>
      </tr>
      <tr>
          <td height="30" bgcolor="#DBEAF5" class="search"> 
            <input name="keyword" type="text" class="input" onfocus=this.select() onClick=this.value='' onmouseover=this.focus() value="{lang37}" size="16">
            <input type="hidden" name="play" value="search" />
            <input name="action" type="submit" value="{lang38}" class="botton"> </td>
      </tr>
    </table>
	</form>
	    <br>
    <br>
      <table width="180"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#87b3d0">
        <tr>
          <td class="title"> Other</td>
        </tr>
        <tr>
          <td bgcolor="#DBEAF5" class="content" align="center">
<a href="{exPATH}/rss.php" target="_blank"><img src="{templatesURL}/images/rss10.png" alt="{lang43}" border="0"></a>
<a href="{exPATH}/rss2.php" target="_blank"><img src="{templatesURL}/images/rss20.png" alt="{lang44}" border="0"></a><br />
<a href="{exPATH}/atom.php" target="_blank"><img src="{templatesURL}/images/atom03.png" alt="{lang45}" border="0"></a>
<a href="javascript:window.external.AddChannel('http://www.madcn.com/madcn.cdf');" target="_blank"><img src="{templatesURL}/images/channel.png" alt="{lang46}" border="0"></a><br />
<a href="{exPATH}/rss2.php?comment=10" target="_blank"><img src="{templatesURL}/images/comment.png" alt="{lang47}" border="0"></a>
<a href="http://www.exBlog.net/" target="_blank"><img src="{templatesURL}/images/icon_power.png" alt="{lang48}" border="0"></a><br />
<a href="http://www.creativecommons.cn/licenses/by-sa/1.0/" target="_blank"><img src="{templatesURL}/images/cc.png" alt="{lang49}" border="0"></a>
<img src="{templatesURL}/images/gb2312.gif" alt="{lang50}GB2312" border="0"><br />
<a href="http://www.php.net/" target="_blank"><img src="{templatesURL}/images/php.png" alt="{lang51}" border="0"></a>
<a href="http://www.mysql.com/" target="_blank"><img src="{templatesURL}/images/mysql.png" alt="{lang52}" border="0"></a><br />
          </td>
        </tr>
      </table>
      <br>
      <br></td>
    <td valign="top" bgcolor="#FFFFFF"><img src="{templatesURL}/images/spacer.gif" width="577" height="10">
	    {PutTopBlogs}
	    {PutBlogs}
	    {PutSortBlogs}
	    {PutBlogKeywords_f}
	    {PutBlogTrackbacks_f}
	    {PutBlogComments_f}
	    {PutCommentForm_f}
	    {PutLinks2_f}
	    {PutSearch_f}
	    {PutRegLink}
	    {PutPage}
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td><img src="images/spacer.gif" width="760" height="1"></td>
  </tr>
  <tr>
    <td class="G"> <a class="G" href="mailto:support@exblog.net">{lang60}</a> | <a class="G" href="http://www.exblog.net">{lang61}</a> <img src="{templatesURL}/images/spacer.gif" width="100" height="1">{copyright}</td>
  </tr>
</table>
</body>
</html>