<!-- BEGIN RowBlog -->
<table width="94%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FEF8FA" class="borderblog" style="WORD-BREAK: break-all; WORD-WRAP: break-word; table-layout:fixed;">
  <tr>
    <td height="6" colspan="3" background="{templatesURL}/images/pinkStripe.gif"></td>
  </tr>
  <tr>
    <td width="94%" class="blogtitle"><strong>{blogTitle}</strong></td>
  </tr>
  <tr>
    <td colspan="3" class="blogcontent">{blogContent}
    <br><br>
	</td>
  </tr>
</table>
<!-- END RowBlog -->