<!-- BEGIN RowBlog -->
<table width="94%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FEF8FA" class="borderblog" style="WORD-BREAK: break-all; WORD-WRAP: break-word; table-layout:fixed;">
  <tr>
    <td height="6" colspan="3" background="{templatesURL}/images/pinkStripe.gif"></td>
  </tr>
  <tr>
    <td width="57%" class="blogtitle"><strong>{isTop}<a href="./?play=reply&id={blogID}">{blogTitle}</a></strong></td>
    <td width="43%" class="blogweather">天气: <img src="{blogWeather}" align="absmiddle"> </td>
  </tr>
  <tr>
    <td colspan="3" class="blogcontent">{blogContent}
    <br><br>
	</td>
  </tr>
  <tr>
    <td colspan="3" align="right" class="blogother">Posted by <a href="mailto:{blogEmail}" class="cn">{blogAuthor}</a> 
      in [{blogSort}] at {blogAddtime} | <a href="./?play=reply&id={blogID}" class="cn">评论：{blogVisits}</a> 
      | <a href="./?play=show&id={blogID}" target="_blank"class="cn">[阅读全文] </a></td>
  </tr>
</table>
<!-- END RowBlog -->