<!-- BEGIN RowReply -->
<table border="0" cellpadding="5" cellspacing="0" width="100%" style="WORD-BREAK: break-all; WORD-WRAP: break-word">
<tr>
    <td class="blogcontent">{reContent}</td>
</tr>
<tr>
    <td class="blogother" align="right">Posted by <a href="mailto:{reEmail}" class="cn">{reAuthor}</a> 
      at {reAddtime} <a href="{homepage}" target="_blank"><img src="{templatesURL}/images/homepage.gif" width="15" height="12" border="0" align="absmiddle"></a> 
      <a href="http://search.tencent.com/cgi-bin/friend/user_show_info?ln={qq}" target="_blank"><img src="{templatesURL}/images/QQ.gif" width="15" height="12" border="0" align="absmiddle"></a></td>
</tr>
<tr>
	<td height="2" bgcolor="#FFFFFF"></td>
</tr>
</table>
<!-- END RowReply -->