<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta Name="author" content="elliott,Hunter">
<meta name="keywords" content="elliott,hunter,exBlog,blog,PHP,MySQL">
<meta name="description" content="exBlog - Powered by elliott,Designed by Hunter">
<meta name="MSSmartTagsPreventParsing" content="TRUE">
<meta http-equiv="MSThemeCompatible" content="Yes">
<title>[评论]--{blogTitle}</title>
<link href="{templatesURL}/style/styles.css" rel="stylesheet" type="text/css">
<SCRIPT language=JavaScript src="{templatesURL}/style/menu.js"></SCRIPT>
</head>

<body>
<script language="JavaScript" type="text/javascript" src="{templatesURL}/snow.js"></script>
<table width="100%"  border="0" cellpadding="0" cellspacing="4" bgcolor="#FF0066">
  <tr>
    <td width="380" class="header"><img src="{templatesURL}/images/spacer.gif" width="20" height="1">exBlog ver:1.2.0 [L]</td>
    <td align="right"><a href="./admin/login.php" class=E>登录</a> <font color="#FFFFFF">|</font> <a href="./help.htm" class=E>帮助</a></td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="1" colspan="2" class="border"><img src="{templatesURL}/images/spacer.gif" width="1" height="1"></td>
  </tr>
  <tr> 
    <td width="20%" height="46" background="{templatesURL}/images/snow.jpg"><img src="{templatesURL}/images/icon_pink.gif" width="118" height="35"></td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="menuborder">
  <tr>
    <td width="95" align="center" class="menu0" onMouseOver="MO()" onMouseOut="MU()"><a href="?play" class="menu">首　页</a></td>
	{PutColumn}
    <td width="95" align="center" class="menu0" onMouseOver="MO()" onMouseOut="MU()"><a href="./?play=links" class="menu">友情链接</a></td>
    <td><img src="{templatesURL}/images/spacer.gif" width="1" height="22"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="270"><img src="{templatesURL}/images/spacer.gif" width="20" height="39"><img src="{templatesURL}/images/welcome.gif" width="250" height="29" alt=""></td><td valign="bottom">您的位置：<a href="./?play" class="cn">首页</a> > [{blogTitle}] > 查看评论 </td>
  </tr>
</table>
<table width="100%" height="258" border="0" cellpadding="0" cellspacing="0" class="borderpink">
  <tr>
    <td width="200" valign="top" bgcolor="#FDEAF0"><img src="{templatesURL}/images/spacer.gif" width="200" height="10">{PutCalendar}<br><table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
      <tr>
        <td bgcolor="#FDFBCA" class="title1">Information</td>
      </tr>
      <tr>
          <td class="content1"><table>
            <tr>
              <td>共有Blog：{blogNum}</td>
            </tr>
            <tr>
              <td>共有评论：{reNum}</td>
            </tr>
            <tr>
              <td>共访问数：{visNum}</td>
            </tr>
            <tr>
              <td>今日访问：{todNum}</td>
            </tr>
            <tr>
              <td>注册用户：{userNum}</td>
            </tr>
            <tr>
              <td>当前在线：{onlineUserNum}</td>
            </tr>
          </table></td>
      </tr>
    </table>
      <img src="{templatesURL}/images/spacer.gif" width="1" height="16">      <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
        <tr>
          <td bgcolor="#F0FBF3" class="title1">New Comments</td>
        </tr>
        <tr>
          <td class="content2"><table>{PutComment}</table></td>
        </tr>
      </table>	  
	  <img src="{templatesURL}/images/spacer.gif" width="1" height="16">
	  <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
        <tr>
          <td height="20" valign="middle" bgcolor="#F4E8F9" class="title1">Friend Links </td>
        </tr>
        <tr>
          <td class="content5"><table width="100%">
              <tr>
                <td> {PutLinks} </td>
              </tr>
            </table>
              <div align="right"><a href="/?play=regLink">【申请站点链接】</a></div></td>
        </tr>
      </table>
	  <img src="{templatesURL}/images/spacer.gif" width="1" height="16">      <table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="border2">
        <tr>
          <td bgcolor="#EEEEEE" class="title1">Search</td>
        </tr>
        <tr>
          <td class="content4"><form method="post" action="./?play=search"><input name="keyword" type="text" class="input" onfocus=this.select() onClick=this.value='' onmouseover=this.focus() value="请输入关键字" size="18"> 
              <input name="action" type="submit" value="搜索" class="botton"></form></td>
        </tr>
      </table>
    <img src="{templatesURL}/images/spacer.gif" width="1" height="16"> </td>
    <td width="1" bgcolor="#CCCCCC"><img src="{templatesURL}/images/spacer.gif" width="1" height="1"></td>
    <td valign="top"><img src="{templatesURL}/images/spacer.gif" height="10">
      <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>
		  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FEF8FA" class="border2" style="WORD-BREAK: break-all; WORD-WRAP: break-word; table-layout:fixed;">
            <tr>
              <td height="6" colspan="2" background="{templatesURL}/images/pinkStripe.gif"></td>
            </tr>
           <tr>
              <td width="56%" class="blogtitle">{blogTitle}</td>
              <td width="44%" class="blogweather">天气: <img src="{blogWeather}" align="absmiddle"> </td>
           </tr>
            <tr>
              <td colspan="2" class="blogcontent"><span id="blogContenttext">{blogContent}</span>
			  <br>
			  <br>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right" class="blogother">Posted by <a href="mailto:{blogEmail}" class="cn">{blogAuthor}</a> 
                  in [{blogSort}] at {blogAddtime} |<a href="./comment.php?action=add&id={blogID}" class="cn">{blogVisits}</a> 
                  | <a href="./?play=show&id={blogID}" target="_blank"class="cn">[阅读全文] 
                  </a></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="40"><a href="javascript:history.go(-1);">[返回上一页]</a></td>
        </tr>
        <tr>
          <td height="26" class="replytitle">↓该Blog评论信息↓</td>
        </tr>
        <tr>
          <td bgcolor="#F0FBF3">{PutReply}</td>
        </tr>
        <tr>
          <td height="24" class="puttitle">↓发表评论↓</td>
        </tr>
        <tr>
          <td><form method="post" action="./?play=reply&tag=true">
                          <table  bgcolor=#EAF2FF width="100%" border="0" cellpadding="0" cellspacing="2" class="main">
                            <tr> 
                              <td>　</td>
                            </tr>
                            <tr> 
                              <td colspan="3">&nbsp; <a href="./helper/exUbbHelp.htm" target="_blank">如果想使你的评论更具风格的话,请察看ExUbb标签.</a></td>
                            </tr>
                            <tr>
                              <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr> 
                              <td width="12%">&nbsp; 昵称:</td>
                              <td width="26%"> <input name="name" type="text" id="author" size="15" class="input"> 
                                <font color="#FF0000">*</font> </td>
                              <td width="62%">密码: 
                                <input name="password" type="password" size="15" class="input"> 
                                &nbsp;&nbsp; <input type="checkbox" name="register" value="yes" class="botton">
                                同时注册这个昵称</td>
                            </tr>
                            <tr> 
                              <td>&nbsp; E-mail:</td>
                              <td colspan="2"><input name="email" type="text" size="40" class="input"></td>
                            </tr>
                            <tr> 
                              <td>&nbsp; 主页:</td>
                              <td colspan="2"><input name="homepage" type="text" size="40" class="input">
                                http://开头 </td>
                            </tr>
                            <tr> 
                              <td>&nbsp; QQ号:</td>
                              <td colspan="2"><input name="qq" type="text" size="40" class="input"></td>
                            </tr>
                            <tr> 
                              <td valign="top">&nbsp; 评论:</td>
                              <td colspan="2"><textarea name="content" cols="60" rows="5" wrap="VIRTUAL" class="input"></textarea> 
                                <font color="#FF0000">*</font> </td>
                            </tr>
                            <tr> 
                              <td height="36" colspan="3"><div align="center"> 
                                  <input type="hidden" name="id" value="{currentID}">
                                  <input type="submit" name="action" value="提交信息" class="botton">
                                </div></td>
                            </tr>
                          </table>
                        </form></td>
        </tr>
    </table></td>
  </tr>
</table><TABLE cellSpacing=0 cellPadding=6 width="100%" border=0>
  <TR>
    <TD><a href="mailto:exblog@fengling.net">联系我们</a> | 开发团队:<a href="./help.htm#6" target="_blank">exsoft</a></TD>
    <TD align="center">{copyright}</TD>
  </TR>
</TABLE>
</body>
</html>
