<!-- BEGIN RowBlog -->
<h1>{isTop}<img src="{blogWeather}" align="absmiddle"> <a href="./?play=reply&id={blogID}">{blogTitle}</a></h1>
<div id="blogContent">{blogContent}</div>
<div class="detail"><a href="./?play=show&id={blogID}" target="_blank"><img src="{templatesURL}/images/detail.gif" width="16" height="16" align="absmiddle">[阅读/打印] </a></div>
<div class="posts">
作者：<a href="mailto:{blogEmail}">{blogAuthor}</a> | 栏目：[{blogSort}] | 于{blogAddtime} | <a href="./?play=reply&id={blogID}">评论：{blogVisits}</a> | 查看：{viewNum}
</div>
<!-- END RowBlog -->