<!-- BEGIN RowReply -->
<h3><img src="{templatesURL}/images/new.gif" align="absmiddle"> {reAuthor} <a href="{homepage}" target="_blank"><img src="{templatesURL}/images/homepage.gif" width="15" height="12" border="0" align="absmiddle"></a> <a href="http://search.tencent.com/cgi-bin/friend/user_show_info?ln={qq}" target="_blank"><img src="{templatesURL}/images/QQ.gif" width="15" height="12" border="0" align="absmiddle"></a> 于 {reAddtime} 评论：&nbsp;&nbsp;&nbsp;&nbsp;</h3>
<p>{reContent}</p>
<!-- END RowReply -->