<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--圣诞风格 Hunter打造-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{title} 之圣诞特别版</title>
<link href="{templatesURL}/css/print.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="location"><a href="./?play">首页</a> > {artTitle} > [阅读/打印]</div>
<!--主内容区begin-->
<div id="main">
<h1>{artTitle}</h1>
<div id="info">作者:{author} | 类别:{sort} | 发布日期:{time} | 总浏览:{visits}</div>
<p>{artContent}</p>
<div id="tool"><input name="button" type=button class="botton" onclick=window.print() value="打印本文">&nbsp;&nbsp;<input name="button" type=button class="botton" onclick=window.close() value="关闭窗口"></div>
</div>
<!--主内容区end-->

<!--footer begin-->
<div id="footer"><a href="mailto:exblog@fengling.net">联系我们</a> | 开发团队:<a href="./help.htm#6" target="_blank">exsoft</a>&nbsp;&nbsp;&nbsp;&nbsp;{copyright}</div>
<!--footer end-->
</body>
<!--圣诞风格 Hunter打造-->
</html>
